    <!-- Banner START -->
<div class="banner mb-0">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">about us</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            about us
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>
<!-- Banner END -->
<div class="donation global__py">
    <div class="container p-sm-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-12 col-lg-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                <h3 class="global__text">about us</h3>
                <h2 class="donation__heading global__heading">
                    Welcome to My Business Shower–Where Ideas Take Flight!
                </h2>
                <p class="donation__desc global__desc mb-3">
                    We're thrilled to celebrate the birth of your new business venture and help you kickstart your entrepreneurial
                    journey in style. Just like a traditional baby shower welcomes a new life into the world, My Business Shower is all
                    about embracing your business and supporting it with love and encouragement. Create a business shower by
                    simply telling your story, setting your goal and haring it with family & friends.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>About us:</b><br>
                    My Business Shower is created for those who want to make big changes in their life. If you are or if you want to be
                    an entrepreneur, you’re at the right platform. Sometimes you only need some funds to start, or you need an extra
                    amount to boost your current small business. Create a virtual business shower, share it with friends and family and
                    make the ball runs!
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Everything starts with a click!</b><br>
                    My business shower has been created in 2023 in London, United Kingdom from a young female marketing
                    professional who wants to change not only her own life, but to helps other likeminded to change their life. She only
                    needed a couple of grants to create her website.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Our Vision:</b><br>
                    We envision a world where innovative ideas, big or small, have the opportunity to thrive and make a lasting
                    impact. By providing a secure and inclusive platform, we aim to make the funding process as simple and easier as
                    possible, and empower individuals from all walks of life to bring into reality to projects they believe in and they are
                    passionate about.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Who We Are:</b><br>
                    Our team consists of a diverse group of dreamers, thinkers, and doers, united by a common passion for innovation
                    and progress. From tech enthusiasts and seasoned investors to creative minds and industry experts, we come
                    together to support cutting-edge projects and create a global community of change makers and entrepreneurs.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>What Sets Us Apart:</b><br>
                    Transparency: We believe in complete transparency throughout the crowdfunding journey. From project selection to
                    fund allocation, we keep our community informed at every step of the process.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Curated Projects:</b><br> To ensure the highest quality, each project on MyBusinessShower undergoes a rigorous
                    evaluation process. We collaborate with industry experts to select ventures with the most significant potential for
                    success.
                </p>
               
                <p class="donation__desc global__desc m-0">
                    <b>Global Reach:</b><br> Innovation knows no boundaries, and neither do we. My Business Shower connects backers and
                    creators from all corners of the world, fostering a collaborative environment that transcends geographical barriers.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Secure Funding:</b><br> We prioritise the security of your investments. Our platform incorporates the latest technology and
                    best practices to ensure that your contributions are protected.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>How its works:</b><br>
                                         <ol>

                                             <li>
                                                 Create your Business Shower: Explore a diverse range of projects across various industries and find the ones
                                                 that resonate with you.
                                             </li>
                                             <li>
                                                 Tell your story: Back projects that ignite your passion and align with your investment goals. Every contribution,
                                                 no matter the size, makes a difference.
                                             </li>
                                             <li>
                                                 Share with friend & family: Connect with project creators, fellow backers, and industry experts. Share your
                                                 insights, ask questions, and be an active part of the journey.
                                             </li>
                                             <li>
                                                 Withdraw the funds and invest it in your business/Start-Up
                                             </li>
                                             <li>
                                                 Find an investor & expand: we have a wide portfolio of investors who are constantly looking fo invest in startups
                                             </li>
                                         </ol>
                        
                    
                   
                    
                </p>
                <p class="donation__desc global__desc m-0">
                    Join us at My Business Shower and be part of a movement that leverages the collective power of the crowd to drive
                    innovation, foster creativity, and build a brighter future for all. Together, let's make dreams a reality!
                </p>
                <p class="donation__desc global__desc m-0">
                    Remember, every great idea begins with a single step – and that step starts with you.
                </p>
                <p class="donation__desc global__desc m-0">
                    Welcome to My Business Shower – Where Ideas Take Flight!
                </p>
            </div>
            <div class="col-12 d-none d-lg-block position-relative aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                <div class="donation__img d-flex justify-content-center">
                    <img class="img-fluid donation__img-shape" src="~/assets/assets/img/shape.png" alt="image">
                    <img class="img-fluid" src="~/assets/assets/img/add-img-6.png" alt="image">
                </div>
                <img class="donation__element2" src="~/assets/assets/img/element.png" alt="image">
            </div>

        </div>
    </div>
</div>