@using CrowdFunding_nastya.Models;
@model CrowdFunding_nastya.Models.tblEditPage
<div class="banner mb-0">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">About Us</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                Home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            About Us
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>
<!-- Banner END -->
<div class="donation global__py">
    <div class="container p-sm-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-12 col-lg-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">

                @Html.Raw(@Model.About)
            </div>
            <div class="col-12 d-none d-lg-block position-relative aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                <div class="donation__img d-flex justify-content-center">
                    <img class="img-fluid donation__img-shape" src="~/assets/assets/img/shape.png" alt="image">
                    <img class="img-fluid" src="~/assets/assets/img/add-img-6.png" alt="image">
                </div>
                <img class="donation__element2" src="~/assets/assets/img/element.png" alt="image">
            </div>

        </div>
    </div>
</div>