    <!-- Banner START -->
<div class="banner mb-0">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">about us</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                Home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            about us
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>
<!-- Banner END -->
<div class="donation global__py">
    <div class="container p-sm-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-12 col-lg-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                <h3 class="global__text">about us</h3>
                <h2 class="donation__heading global__heading">
                    Welcome to My Business Shower – Where Ideas Take Flight!
                </h2>
                <p class="donation__desc global__desc mb-3">
                    We're delighted to celebrate the birth of your new business venture and assist you in launching your entrepreneurial journey with flair. Similar to a
                    traditional baby shower that welcomes a new life, My Business Shower is dedicated to embracing and supporting your business with love and
                    encouragement. Create a business shower by narrating your story, setting your goal, and sharing it with family and friends.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>About us:</b><br>
                    My Business Shower is created for those who want to make significant changes in their lives. Whether you're already an entrepreneur or aspire to be one,
                    you've found the right platform. Sometimes all you need are funds to kickstart your journey or an extra push to elevate your existing small business. Create a
                    virtual business shower, share it with friends and family, and let the momentum begin!
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Everything starts with a click!</b><br>
                    Established in 2024 in London, United Kingdom, My Business Shower was founded by a young female marketing professional. Her goal is to assist like-minded individuals in their journeys.

                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Our Vision:</b><br>
                    We envision a world where innovative ideas, whether big or small, have the chance to thrive and leave a lasting impact. Our mission is to simplify the funding
                    process through a secure and inclusive platform. We aim to empower individuals from all walks of life, allowing them to bring their passionate projects to
                    life.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Who We Are:</b><br>
                    Our team is a diverse collective of dreamers, thinkers, and doers, bound by a shared passion for innovation and progress. From tech enthusiasts and
                    seasoned investors to creative minds and industry experts, we unite to support cutting-edge projects. Together, we strive to build a global community of
                    change-makers and entrepreneurs.

                </p>
                <p class="donation__desc global__desc m-0">
                    <b>What Sets Us Apart:</b><br>
                    Our team is a diverse collective of dreamers, thinkers, and doers, bound by a shared passion for innovation and progress. From tech enthusiasts and
                    seasoned investors to creative minds and industry experts, we unite to support cutting-edge projects. Together, we strive to build a global community of
                    change-makers and entrepreneurs.

                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Curated Projects:</b><br> 
                    Ensuring the highest quality, each project on My Business Shower undergoes a rigorous evaluation process. We collaborate with industry experts to select ventures with
                    the most significant potential for success.
                </p>
               
                <p class="donation__desc global__desc m-0">
                    <b>Global Reach:</b><br>
                    Innovation knows no boundaries, and neither do we. My Business Shower connects backers and creators from all corners of the world, fostering a collaborative
                    environment that transcends geographical barriers.
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>Secure Funding:</b><br>
                    We prioritize the security of your investments. Our platform incorporates the latest technology and best practices to ensure that your contributions are protected
                </p>
                <p class="donation__desc global__desc m-0">
                    <b>How it Works:</b><br>
                                         <ol>

                                             <li>
                                                 Create Your Business Shower: Explore a diverse range of projects across various industries and find the ones that resonate with you.
                                             </li>
                                             <li>
                                                 Tell Your Story: Back projects that ignite your passion and align with your investment goals. Every contribution, no matter the size, makes a difference.
                                             </li>
                                             <li>
                                                 Share with Friends & Family: Connect with project creators, fellow backers, and industry experts. Share your insights, ask questions, and be an active part of the
                                                 journey.
                                             </li>
                                             <li>
                                                 Withdraw the Funds and Invest in Your Business/Start-Up: Utilize the funds to bring your business dreams to life.
                                             </li>
                                          
                                         </ol>
                        
                    
                   
                    
                </p>
                <p class="donation__desc global__desc m-0">
                    Join us at My Business Shower and be part of a movement that leverages the collective power of the crowd to drive innovation, foster creativity, and build a brighter
                    future for all. Together, let's turn dreams into reality!
                </p>
                <p class="donation__desc global__desc m-0">
                    Remember, every great idea begins with a single step – and that step starts with you.
                </p>
                <p class="donation__desc global__desc m-0">
                    Welcome to My Business Shower – Where Ideas Take Flight!
                </p>
            </div>
            <div class="col-12 d-none d-lg-block position-relative aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000">
                <div class="donation__img d-flex justify-content-center">
                    <img class="img-fluid donation__img-shape" src="~/assets/assets/img/shape.png" alt="image">
                    <img class="img-fluid" src="~/assets/assets/img/add-img-6.png" alt="image">
                </div>
                <img class="donation__element2" src="~/assets/assets/img/element.png" alt="image">
            </div>

        </div>
    </div>
</div>