    <!--  Banner START -->

<div class="banner">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">blog detail</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            blog details
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>

<!--  Banner END -->
<!--  Blog_Detail START -->

<div class="blog global__py pt-0">
    <div class="container p-sm-0">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 text-center m-auto">
                <div class="mt-3">
                    <div>
                       
                        <span class="global__text blog__detail-text">December 01, 2023</span>
                    </div>
                </div>
                <h2 class="global__heading blog__detail-m">
                    How to Donate on Giving Tuesday: 10 Ways to Help
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="blog__detail-head">
                <img class="img-fluid blog__detail-head--image" src="~/assets/assets/img/blog_detail-1.png" alt="image">
                <div class="col-12">
                    <div class="col-xl-8 m-auto position-relative">
                        <h3 class="global__heading blog__detail-m blog__detail-head--heading">
                            Many Children Are
                            Suffering A Lot
                            For Food.
                        </h3>
                        <div class="d-md-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <img class="img-fluid blog__detail-head--user" src="~/assets/assets/img/user-13.png"
                                     alt="image">
                                <div class="">
                                    <h5 class="blog__detail-head--name">Darrell Steward</h5>
                                    <p class="blog__detail-head--tag">Healthy Food</p>
                                </div>
                            </div>
                            <div class="mt-3 mt-md-0">
                                <ul class="blog__detail-head--list">
                                    <li>10 min read</li>
                                    <li>Last Update on 20th Sept. 2023</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex mt-5">
                            <!-- Blog_Deetail Social Left -->
                            <div class="d-none d-lg-block position-absolute blog__detail-social">
                                <h4 class="blog__detail-social--text">share</h4>
                                <ul class="">
                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class="fa fa-facebook blog__detail-social--fb"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://linkedin.com/">
                                            <i class="fa fa-linkedin blog__detail-social--in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/">
                                            <i class="fa fa-twitter blog__detail-social--tw"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/">
                                            <i class="fa fa-instagram blog__detail-social--ins"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="">
                                <img class="img-fluid blog__detail-head--image" src="~/assets/assets/img/blog_detail-2.png"
                                     alt="image">
                                <div class="">
                                    <p class="blog__detail-head--desc blog__detail-head--desc---m">
                                        It is a long
                                        established fact that a reader will be
                                        distracted by the readable content of a page when looking at its
                                        layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                        distribution of letters, as opposed to using
                                        ‘Content here, content here’, making it look like readable English. Many
                                        desktop
                                        publishing packages and web page
                                        editors now.
                                    </p>
                                    <p class="blog__detail-head--desc">
                                        The point of using Lorem Ipsum is that it has
                                        a more-or-less normal distribution of letters, as opposed to using
                                        ‘Content here, content here’, making it look like readable English. Many
                                        desktop publishing packages and web page
                                        editors now.
                                    </p>
                                </div>
                                <div class="">
                                    <h2 class="global__heading blog__detail-head--heading---small">
                                        Help the helpless
                                        who need you.
                                    </h2>
                                    <div class="">
                                        <p class="blog__detail-head--desc blog__detail-head--desc---m">
                                            It is a long
                                            established fact that a reader will be distracted by the readable
                                            content of a page when looking at its
                                            layout. The point of using Lorem Ipsum is that it has a more-or-less
                                            normal distribution of letters, as opposed to using
                                            ‘Content here, content here’, making it look like readable English. Many
                                            desktop publishing packages and web page
                                            editors now.

                                        </p>
                                        <p class="blog__detail-head--desc">
                                            Which don't look even slightly
                                            believable. If you are going to use a passage of Lorem Ipsum, you need
                                            to be sure there
                                            isn't anything embarrassing hidden in the middle of text. All the Lorem
                                            Ipsum genera tors on the Internet tend to repeat
                                            predefined chunks as necessary, making this the first true genera tor on
                                            the Internet. It uses a dictionary of over 200
                                            Latin words, combined with a handful of model sentence
                                        </p>
                                    </div>
                                </div>
                                <div class="blog__detail-box">
                                    <p class="blog__detail-box--desc">
                                        “ Which don't look even slightly believable.
                                        If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                        isn't anything embarrassing hidden in the middle of text. All the Lorem
                                        Ipsum genera tors on the Internet tend to repeat
                                        predefined chunks as necessary, making this the first true genera tor on the
                                        Internet. It uses a dictionary of over 200
                                        Latin words, combined with a handful of model sentence ”
                                    </p>
                                </div>
                                <div class="">
                                    <p class="blog__detail-head--desc blog__detail-head--desc---m">
                                        It is a long
                                        established fact that a reader will be distracted by the readable
                                        content of a page when looking at its
                                        layout. The point of using Lorem Ipsum is that it has a more-or-less
                                        normal distribution of letters, as opposed to using
                                        ‘Content here, content here’, making it look like readable English. Many
                                        desktop publishing packages and web page
                                        editors now.

                                    </p>
                                    <p class="blog__detail-head--desc">
                                        Which don't look even slightly
                                        believable. If you are going to use a passage of Lorem Ipsum, you need
                                        to be sure there
                                        isn't anything embarrassing hidden in the middle of text. All the Lorem
                                        Ipsum genera tors on the Internet tend to repeat
                                        predefined chunks as necessary, making this the first true genera tor on
                                        the Internet. It uses a dictionary of over 200
                                        Latin words, combined with a handful of model sentence
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <!-- Blog_Deetail Social Bottom -->
                            <div class="blog__detail-social">
                                <p class="blog__detail-social--para">Like this article? Spread the word</p>
                                <ul class="d-flex gap-4 pb-4">
                                    <li class="m-0">
                                        <a href="#">
                                            <img class="img-fluid" src="~/assets/assets/img/share-icon.svg" alt="icon">
                                        </a>
                                    </li>
                                    <li class="m-0">
                                        <a href="https://www.facebook.com/">
                                            <i class="fa fa-facebook-f blog__detail-social--f"></i>
                                        </a>
                                    </li>
                                    <li class="m-0">
                                        <a href="https://twitter.com/">
                                            <i class="fa fa-twitter blog__detail-social--tw"></i>
                                        </a>
                                    </li>
                                    <li class="m-0">
                                        <a href="https://linkedin.com/">
                                            <i class="fa fa-linkedin blog__detail-social--in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Blog_Detail END -->