    <!--  Banner START -->

<div class="banner">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-uppercase">FAQ</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                Home
                            </a>
                        </li>
                        <li class="banner__ul-list text-uppercase">
                            FAQ
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>

<!--  Banner END -->
<!-- Faqs START -->

<div class="faq">
    <div class="row bg-white m-0">
        <div class="col-12 col-md-9 col-lg-6 text-center m-auto">
            <h3 class="global__text">Do you need help?</h3>
            <h2 class="global__heading">
                We Answer All Your Daily
                Questions

            </h2>
        </div>
    </div>
    <div class="container p-sm-0">
        <div class="row px-3 px-sm-0">
            <div class="faq__body d-lg-flex">
                <div class="col-lg-12 pe-lg-3 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000">
                    <div class="col-lg-12 pe-lg-3 mb-4 mb-lg-0 ">
                        <div class="accordion faq__body-accordion" id="accodionLeft">
                            <!-- Accordion 01 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingOne">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="false" aria-controls="collapseOne">
                                            <span class="col-10">
                                                How it works?
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        Welcome to Our Crowdfunding Platform, Tailored for Aspiring Entrepreneurs Like You! <br>
                                        Our crowdfunding platform is crafted to simplify and enhance the fundraising journey for individuals with entrepreneurial dreams. Follow this
                                        step-by-step guide to see how it works:

                                                                                                                            <ol>

                                                                                                                                <li>
                                                                                                                                    Create Your Campaign:
                                                                                                                                    <ul>
                                                                                                                                        <li>Sign up and craft an engaging campaign page for your bakery project.</li>
                                                                                                                                        <li>Share your story, articulate your vision, and explain why your bakery deserves support.</li>
                                                                                                                                    </ul>
                                                                                                                                </li>
                                                                                                                                <li>
                                                                                                                                    Set Your Goal:
                                                                                                                                    <ul>
                                                                                                                                        <li>Determine the funds needed for a successful business.</li>
                                                                                                                                    </ul>
                                                                                                                                </li>
                                                                                                                                <li>
                                                                                                                                    Spread the Word:
                                                                                                                                    <ul>
                                                                                                                                        <li>Once your campaign is live, promote it extensively.</li>
                                                                                                                                        <li>
                                                                                                                                            Utilize social media, email newsletters, and engage your network to increase awareness.
                                                                                                                                        </li>
                                                                                                                                    </ul>
                                                                                                                                </li>
                                                                                                                                <li>
                                                                                                                                    Engage with Backers:
                                                                                                                                    <ul>
                                                                                                                                        <li>Stay connected with supporters and potential backers.</li>
                                                                                                                                        <li>
                                                                                                                                            Respond to questions, express gratitude, and provide regular updates on your campaign's progress.
                                                                                                                                        </li>
                                                                                                                                    </ul>
                                                                                                                                </li>
                                                                                                                                <li>
                                                                                                                                    Offer Rewards:
                                                                                                                                    <ul>
                                                                                                                                        <li>Incentivize contributions by providing enticing rewards for different support levels.</li>
                                                                                                                                        <li>
                                                                                                                                            Rewards could include exclusive.
                                                                                                                                        </li>
                                                                                                                                    </ul>
                                                                                                                                </li>
                                                                                                                                <li>
                                                                                                                                    Reach Your Goal:
                                                                                                                                    <ul>
                                                                                                                                        <li>As momentum builds and contributions roll in, work toward achieving your funding target.</li>
                                                                                                                                        <li>Celebrate every milestone and keep pushing forward!</li>
                                                                                                                                    </ul>
                                                                                                                                </li>
                                                                                                                                <li>
                                                                                                                                    Open Your Business:
                                                                                                                                    <ul>
                                                                                                                                        <li>
                                                                                                                                            Once your campaign hits its funding goal, fulfill promises, set up your business, and share the joy of success with backers and the
                                                                                                                                            community!
                                                                                                                                        </li>
                                                                                                                                               </ul>
                                                                                                                                </li>
                                                                                                                            </ol>







                                    </p>
                                </div>
                            </div>
                            <!-- Accordion 02 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingTwo">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="col-10">
                                                Ensuring the Safety of Business Showers:
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        We prioritize safety and security to guarantee a positive experience for all users. Here are the measures we take to keep business showers safe:
                                        <ol>

                                            <li>
                                                Verification:
                                                <ul>
                                                    <li>
                                                        We rigorously verify the identity and authenticity of campaign creators to prevent fraudulent activities and safeguard backers.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Secure Transactions:
                                                <ul>
                                                    <li>
                                                        Our platform employs encrypted payment gateways, ensuring all financial transactions are secure and protected.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Community Guidelines:
                                                <ul>
                                                    <li>
                                                        Clear and comprehensive community guidelines are in place that all users must adhere to, fostering a respectful and safe environment.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Report & Review System:
                                                <ul>
                                                    <li>
                                                        Users can report any suspicious campaigns or activities, and our dedicated team promptly reviews such reports to maintain the integrity
                                                        of the platform.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Backer Protections:
                                                <ul>
                                                    <li>
                                                        We provide transparent terms and conditions for backers, ensuring they are aware of their rights and can make informed decisions.

                                                    </li>
                                                </ul>
                                            </li>
                                        </ol>





                                    </p>
                                </div>
                            </div>
                            <!-- Accordion 03 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingThree">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span class="col-10">
                                                How to Withdraw Funds from Your Business Shower:
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        Congratulations on successfully reaching your funding goal! Withdrawing funds from your business shower is a straightforward process:
                                        <ol>

                                            <li>
                                                Verify Account:
                                                <ul>
                                                    <li>
                                                        Ensure that your account is verified and meets all the necessary requirements for fund withdrawal.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Choose Withdrawal Method:
                                                <ul>
                                                    <li>
                                                        Select your preferred withdrawal method from the available options provided by our platform.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Request Withdrawal:
                                                <ul>
                                                    <li>
                                                        Initiate a withdrawal request through your campaign dashboard.
                                                    </li>
                                                    <li>
                                                        Provide the necessary information, such as the amount you want to withdraw and the chosen method.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Processing Time:
                                                <ul>
                                                    <li>
                                                        Our team will review your withdrawal request, and the processing time may vary depending on the chosen withdrawal method.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Receive Funds:
                                                <ul>
                                                    <li>
                                                        Once your withdrawal is approved, you will receive the funds directly to your designated account.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion 04 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingFour">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                aria-expanded="true" aria-controls="collapseFour">
                                            <span class="col-10">
                                                What to Do If You Can't Reach Your Goal:
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        <ol>

                                            <li>
                                                Stay Positive! Fundraising can be challenging, but it's essential to remain positive and keep your spirits high.
                                            </li>
                                            <li>
                                                Analyse Your Campaign: Review your campaign strategy, messaging, and marketing efforts. Identify areas that could be improved.
                                            </li>
                                            <li>
                                                Extend or Relaunch: Consider extending the campaign duration or relaunching it with revised goals and a fresh approach.
                                            </li>
                                            <li>
                                                Engage Your Network: Reach out to your friends, family, and community again, and ask for their support.
                                            </li>
                                            <li>
                                                Explore Other Options: If crowdfunding doesn't work out, explore alternative funding sources such as loans, grants, or angel investors.
                                            </li>
                                            <li>
                                                Learn from the Experience: Every campaign is a learning experience. Take note of what worked and what didn't, and use that knowledge for future
                                                endeavours.
                                            </li>
                                           
                                        </ol>
                                    </p>
                                </div>
                            </div>
                            <!-- Accodion 05 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingFive">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                aria-expanded="false" aria-controls="collapseFive">
                                            <span class="col-10">
                                                Is My Business Shower Available in My Country?
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                     data-bs-parent="#accodionLeft">

                                    <p class="faq__body-accordion--desc">
                                        Currently, our crowdfunding website is exclusively available in the United Kingdom. However, we are excited to announce our plans to expand globally in
                                        the near future. Our vision is to bring the power of crowdfunding to entrepreneurs and innovators worldwide, fostering creativity, innovation, and positive
                                        change on a global scale.
                                    </p>   
                                    <p class="faq__body-accordion--desc">
                                        While we are not available in your country at the moment, we encourage you to stay tuned for updates on our expansion plans. We are actively working to
                                        make our platform accessible to entrepreneurs and backers from all corners of the globe. As soon as we expand to your country, we will be thrilled to
                                        welcome you to our crowdfunding community.
                                    </p>  
                                    <p class="faq__body-accordion--desc">
                                        In the meantime, if you have friends or contacts in the United Kingdom who may be interested in supporting your project, we encourage you to share your
                                        campaign with them. The success and support you gain from your campaign in the UK can serve as a stepping stone towards your goal and realizing your
                                        dreams.
                                    </p>
                                    <p class="faq__body-accordion--desc">
                                        Thank you for your interest in our platform, and we look forward to the opportunity to serve entrepreneurs like you worldwide soon!
                                        To ensure that you receive timely updates about our expansion and when we launch in your country, please follow these steps:

                                        <ol>
                                       
                                              <li>
                                                Subscribe to our Newsletter:
                                                <ul>
                                                    <li>
                                                        Visit our website and sign up for our newsletter. By subscribing, you'll receive regular updates, news, and announcements, including any details about our global
                                                        expansion.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Follow Us on Social Media:
                                                <ul>
                                                    <li>
                                                        Connect with us on our official social media channels, such as Facebook, Twitter, Instagram, LinkedIn, etc. We frequently share important updates and announcements
                                                        through these platforms.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Check Our Website:
                                                <ul>
                                                    <li>
                                                        Keep an eye on our website for any announcements or news about our expansion to new countries. Our website will be the primary source for information regarding
                                                        our global reach.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Create an Account:
                                                <ul>
                                                    <li>
                                                        If you haven't already, create an account on our platform. This will enable you to stay engaged and receive updates directly to your account when you log in.

                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Opt-In for Notifications:
                                                <ul>
                                                    <li>
                                                        Once you have an account, ensure that you have opted in to receive notifications. This way, you'll be alerted about any new developments related to our expansion
                                                    </li>
                                                </ul>
                                            </li>


                                        </ol>

                                    </p>
                                    <p class="faq__body-accordion--desc">
                                        By following these steps, you will be among the first to know when our crowdfunding platform becomes available in your country. We look forward to serving entrepreneurs
                                        and backers worldwide and hope to have you as part of our global community soon! Thank you for your patience and support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Faqs END -->