    <!--  Banner START -->

<div class="banner">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-uppercase">FAQ</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                home
                            </a>
                        </li>
                        <li class="banner__ul-list text-uppercase">
                            FAQ
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>

<!--  Banner END -->
<!-- Faqs START -->

<div class="faq">
    <div class="row bg-white m-0">
        <div class="col-12 col-md-9 col-lg-6 text-center m-auto">
            <h3 class="global__text">Do you need help?</h3>
            <h2 class="global__heading">
                We answers to all you daily questions
            </h2>
        </div>
    </div>
    <div class="container p-sm-0">
        <div class="row px-3 px-sm-0">
            <div class="faq__body d-lg-flex">
                <div class="col-lg-12 pe-lg-3 mb-4 mb-lg-0" data-aos="fade-right" data-aos-duration="1000">
                    <div class="col-lg-12 pe-lg-3 mb-4 mb-lg-0 ">
                        <div class="accordion faq__body-accordion" id="accodionLeft">
                            <!-- Accordion 01 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingOne">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="false" aria-controls="collapseOne">
                                            <span class="col-10">
                                                How it works?
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        Our crowdfunding platform is designed to make the fundraising process easy and effective for aspiring entrepreneurs like you. Here's a step-by-step guide on
                                        how it works:

                                        <ol>

                                            <li>
                                                Create Your Campaign: Sign up and create a compelling campaign page for your bakery project. Tell your story, share your vision, and explain why your
                                                bakery is unique and deserving of support.
                                            </li>
                                            <li>
                                                Set Your Goal: Determine the amount of funds you need to raise to launch your bakery successfully. Be realistic yet ambitious. Your goal should cover
                                                essential expenses like rent, equipment, ingredients, and initial staffing.
                                            </li>
                                            <li>
                                                Spread the Word: Once your campaign is live, it's time to promote it far and wide. Utilise social media, email newsletters, and engage with your network to
                                                spread the word about your bakery project. The more people know about it, the better your chances of reaching your goal.
                                            </li>
                                            <li>
                                                Engage with Backers: Keep in touch with your supporters and potential backers. Respond to their questions, express gratitude, and provide regular
                                                updates on your campaign's progress.
                                            </li>
                                            <li>
                                                Offer Rewards: Incentivise contributions by offering enticing rewards for different levels of support. Rewards could include exclusive bakery treats,
                                                discounts, or special experiences for backers.
                                            </li>
                                            <li>
                                                Reach Your Goal: As you gain momentum and contributions start rolling in, you'll work towards achieving your funding target. Celebrate every milestone
                                                and keep pushing forward!
                                            </li>
                                            <li>
                                                Open Your Bakery: Once your campaign reaches its funding goal, it's time to fulfill your promises, set up your bakery, and share the joy of your success
                                                with your backers and the community!
                                            </li>
                                        </ol>
                                        
                                       
                                        
                                        
                                        
                                        
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion 02 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingTwo">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="col-10">
                                                How do you keep business showers safe?
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        At our crowdfunding website, we prioritise safety and security to ensure a positive experience for all users. Here are the measures we take to keep business
                                        showers safe:
                                        <ol>

                                            <li>
                                                Verification: We verify the identity and authenticity of campaign creators to prevent fraudulent activities and protect backers.
                                            </li>
                                            <li>
                                                Secure Transactions: Our platform uses encrypted payment gateways to ensure that all financial transactions are secure and protected.
                                            </li>
                                            <li>
                                                Community Guidelines: We have clear community guidelines that all users must follow to maintain a respectful and safe environment.
                                            </li>
                                            <li>
                                                Report & Review System: Users can report suspicious campaigns or activities, and we have a dedicated team to review such reports promptly.
                                            </li>
                                            <li>
                                                Backer Protections: We offer transparent terms and conditions for backers, ensuring they know their rights and can make informed decisions.
                                            </li>
                                           
                                        </ol>
                                        
                                       
                                        
                                        
                                        
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion 03 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingThree">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span class="col-10">
                                                How to withdraw funds from my business shower?
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        Congratulations on successfully reaching your funding goal! Withdrawing funds from your business shower is a straightforward process:
                                        <ol>

                                            <li>
                                                Verify Account: Ensure that your account is verified and meets all the necessary requirements for fund withdrawal.
                                            </li>
                                            <li>
                                                Choose Withdrawal Method: Select your preferred withdrawal method from the available options provided by our platform.
                                            </li>
                                            <li>
                                                Request Withdrawal: Initiate a withdrawal request through your campaign dashboard. Provide the necessary information, such as the amount you want to
                                                withdraw and the chosen method.
                                            </li>
                                            <li>
                                                Processing Time: Our team will review your withdrawal request, and the processing time may vary depending on the chosen withdrawal method.
                                            </li>
                                            <li>
                                                Receive Funds: Once your withdrawal is approved, you will receive the funds directly to your designated account.
                                            </li>

                                        </ol>
                                    </p>
                                </div>
                            </div>
                            <!-- Accordion 04 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingFour">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                aria-expanded="true" aria-controls="collapseFour">
                                            <span class="col-10">
                                                What shall I do if I can't reach my goal?
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        <ol>

                                            <li>
                                                Stay Positive! Fundraising can be challenging, but it's essential to remain positive and keep your spirits high.
                                            </li>
                                            <li>
                                                Analyse Your Campaign: Review your campaign strategy, messaging, and marketing efforts. Identify areas that could be improved.
                                            </li>
                                            <li>
                                                Extend or Relaunch: Consider extending the campaign duration or relaunching it with revised goals and a fresh approach.
                                            </li>
                                            <li>
                                                Engage Your Network: Reach out to your friends, family, and community again, and ask for their support.
                                            </li>
                                            <li>
                                                Explore Other Options: If crowdfunding doesn't work out, explore alternative funding sources such as loans, grants, or angel investors.
                                            </li>
                                            <li>
                                                Learn from the Experience: Every campaign is a learning experience. Take note of what worked and what didn't, and use that knowledge for future
                                                endeavours.
                                            </li>
                                           
                                        </ol>
                                    </p>
                                </div>
                            </div>
                            <!-- Accodion 05 -->
                            <div class="accordion-item faq__body-accordion--bg">
                                <div class="d-flex align-items-center" id="headingFive">
                                    <div class="col-12">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                aria-expanded="false" aria-controls="collapseFive">
                                            <span class="col-10">
                                                Does My Business Shower available in my country?
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                     data-bs-parent="#accodionLeft">
                                    <p class="faq__body-accordion--desc">
                                        Currently, our crowdfunding website is available exclusively in the United Kingdom. However, we are thrilled to announce that we have ambitious plans to
                                        expand our platform globally in the near future. Our vision is to bring the power of crowdfunding to entrepreneurs and innovators worldwide, fostering
                                        creativity, innovation, and positive change on a global scale.<br>
                                        While we are not available in your country at the moment, we encourage you to stay tuned for updates on our expansion plans. We are actively working to
                                        make our platform accessible to entrepreneurs and backers from all corners of the globe. As soon as we expand to your country, we will be more than excited
                                        to welcome you to our crowdfunding community.<br>
                                        In the meantime, if you have friends or contacts in the United Kingdom who may be interested in supporting your project, we encourage you to share your
                                        campaign with them. The success and support you gain from your campaign in the UK can serve as a stepping stone towards your goal and reaching your
                                        dreams.<br>
                                        Thank you for your interest in our platform, and we look forward to the opportunity to serve entrepreneurs like you worldwide soon!
                                    </p>

                                    <p class="faq__body-accordion--desc">
                                        To ensure that you receive timely updates about our expansion and when we launch in your country, please follow these steps:

                                        <ol>

                                            <li>
                                                Subscribe to our Newsletter: Visit our website and sign up for our newsletter. By subscribing to our newsletter, you will receive regular updates, news, and
                                                announcements, including any updates about our global expansion.
                                            </li>
                                            <li>
                                                Follow Us on Social Media: Connect with us on our official social media channels, such as Facebook, Twitter, Instagram, LinkedIn, etc. We often share
                                                important updates and announcements through our social media platforms.
                                            </li>
                                            <li>
                                                Check Our Website: Keep an eye on our website for any announcements or news about our expansion to new countries. Our website will be the primary
                                                source for information about our global reach.
                                            </li>
                                            <li>
                                                Create an Account: If you haven't already, create an account on our platform. This will allow you to stay engaged and receive updates directly to your
                                                account when you log in.
                                            </li>
                                            <li>
                                                Opt-In for Notifications: Once you have an account, make sure you have opted in to receive notifications. This way, you'll be alerted about any new
                                                developments related to our expansion.
                                            </li>


                                        </ol>

                                    </p>
                                    <p class="faq__body-accordion--desc">
                                        By following these steps, you will be among the first to know when our crowdfunding platform becomes available in your country. We are looking forward to
                                        serving entrepreneurs and backers worldwide and hope to have you as part of our global community soon! Thank you for your patience and support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Faqs END -->