
@{
    ViewBag.Title = "works";
}

<div class="banner">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">How it works?</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                Home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            How it works?
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>



<div class="mt-5 mb-5">
    <div class="container p-sm-0">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center m-auto" >
                <h2 class="global__heading">
                    Create Your Business Shower in 4 Simple Steps:
                </h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-xl-6 pe-md-3 mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        1
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">Create Your Account</h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                          
                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                    <i class="fa fa-check"></i>
                                    Begin with your name, location, and business industry.
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Define your goal: How much do you need to boost your business?
                                </li>
                            </ul>


                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 pe-md-3  mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        2
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">Describe Your Business</h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                          
                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                    <i class="fa fa-check"></i>
                                    We'll guide you with examples during the registration process.
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Add pictures/videos to showcase your business.
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Define the mission and vision of your business.
                                </li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 ps-md-3  mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        3
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">
                            Publish & Share
                        </h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                            Your loved ones will be more than happy to contribute to making your dreams come true.
                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                    <i class="fa fa-check"></i>
                                    Share on Social Media
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Share in Groups
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Encourage Friends and Family to Share Too ;)
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Send Emails or Text Messages
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Get Creative, Find New Ways to Reach More People
                                </li>
                            </ul>

                            
                            
                            
                           



                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 ps-md-3  mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        4
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">
                            Withdraw Funds!
                        </h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                            Now it's time to work towards achieving your goals!

                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                    <i class="fa fa-check"></i>
                                    Manage & Accept Your Donations
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Express Gratitude to Your Donors
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    Withdraw the Funds and Turn Your Dreams into Reality!
                                </li>

                            </ul>



                            
                            
                            




                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 col-xl-12 text-center mt-5">
                <a href="@Url.Action("sign_up","Account")" class="global__btn">
                    Start a
                    Business Shower
                    <i class="fa fa-arrow-up global__btn-arrow"></i>
                </a>
            </div>
        </div>
    </div>
</div>

