
@{
    ViewBag.Title = "works";
}

<div class="banner">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-lg-start">
                    <h1 class="global__title global__title-dark text-capitalize">How it works?</h1>
                    <ul class="banner__ul">
                        <li class="banner__ul-list p-0">
                            <a class="banner__ul-link" href="@Url.Action("index","Home")">
                                home
                            </a>
                        </li>
                        <li class="banner__ul-list">
                            How it works?
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner__element d-none d-lg-block">
                <img src="~/assets/assets/img/element-3.svg" alt="image">
            </div>
            <div class="banner__polygon d-none d-lg-block">
                <img src="~/assets/assets/img/polygon.svg" alt="image">
            </div>
        </div>
    </div>
</div>



<div class="mt-5 mb-5">
    <div class="container p-sm-0">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center m-auto" >
                <h2 class="global__heading">
                    Create your Business Shower in 4 easy steps
                </h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-xl-6 pe-md-3 mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        1
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">Create an account</h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                            Start with your name, location
                            & business industry
                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                    <i class="fa fa-check"></i>
                                    Set your goal (How much do
                                    you need to boost up your
                                    business?)
                                </li>

                            </ul>


                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 pe-md-3  mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        2
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">Describe your business</h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                            We'll give you examples
                            how to do it during registration.
                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                     <i class="fa fa-check"></i>
                                    Describe your business
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    Add pictures/videos
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    What's the mission & vision
                                    of your business?
                                </li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 ps-md-3  mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        3
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">
                            Publish & share
                        </h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                            They'll be more than happy to
                            help your dreams come true.
                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                     <i class="fa fa-check"></i>
                                    Share on social media
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    Share in groups
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    Ask your friends and family
                                    to share it ;)
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    Send emails or text messages
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    Be creative, find a way to
                                    send it to more people
                                </li>
                            </ul>





                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 ps-md-3  mb-2" >
                <div class="service__card global__white" style="min-height:55vh">
                    <div class="global__icon global__icon-white service__card-icon2">
                        4
                    </div>
                    <div class="">
                        <h4 class="support__card-heading global__heading">
                            Withdraw funds!
                        </h4>
                        <p class="service__card-desc global__desc mt-3 mb-0">
                            Time to work to achieve your goals!

                            <ul class="service__card-desc global__desc mt-3 mb-0 text-left" style="text-align:left">
                                <li>
                                     <i class="fa fa-check"></i>
                                    Manage & accept your
                                    donations
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    Say thank you to your donors
                                </li>
                                <li>
                                     <i class="fa fa-check"></i>
                                    Withdraw the funds and
                                    make your dream comes
                                    true!
                                </li>
                                
                            </ul>



                            
                            
                            

                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 col-xl-12 text-center mt-5">
                <a href="@Url.Action("sign_up","Account")" class="global__btn">
                    Start a
                    Business Shower
                    <i class="fa fa-arrow-up global__btn-arrow"></i>
                </a>
            </div>
        </div>
    </div>
</div>

