<!-- SignIn START -->
<div class="sign mt-4 mt-sm-3 mt-lg-0 mb-5">
    <div class="sign__layer">
        <div class="container-fluid p-4">
            <div class="d-md-flex justify-content-between position-relative h-100">

                <!--<div class="col-12 col-lg-6 d-none d-lg-block">
                    <div class="sign__slider">
                        <div class="sign__slider-item">
                            <div class="card sign__card h-100">
                                <img class="img-fluid h-100 sign__card-img" src="~/assets/assets/img/signIn.png"
                                     alt="image">-->
                                @*<div class="card-img-overlay sign__card-overlay">
                                    <div class="position-relative">
                                        <h5 class="global__heading global__heading-w sign__card-title">
                                            Forget Password
                                        </h5>
                                    </div>
                                </div>*@
                            <!--</div>
                        </div>
                    
                    </div>
                </div>-->
                <div class="col-md-4  m-auto">
                    <div class="sign__form">
                        <form action="#" method="POST" class="">
                            <h4 class="sign__form-heading">Forget password</h4>
                            <div class="">
                                <div class="sign__form-mb">
                                    <label class="sign__form-label" for="emailInp" id="email">
                                        Email <span class="text-danger">*</span>
                                    </label>
                                    <input class="form-control sign__form-input" id="emailInp" type="email"
                                           placeholder="Enter your email">
                                    <span class="sign__text sign__text-email text-danger d-none">Email must be valid</span>
                                    <span class="sign__text sign__text-email--required text-danger d-none">
                                        Email is
                                        required
                                    </span>
                                </div>
                                <div class="col-10 col-sm-12 m-auto">
                                    <div class="">
                                        <input class="sign__btn sign__btn-in form-control" type="submit"
                                               value="Submit">
                                    </div>
                                  
                                </div>
                                <div class="mt-4">
                                    <p class="sign__text text-center">
                                        Remember password? <a class="sign__form-link" href="@Url.Action("sign_in","Account")">Sign In</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    @*<div class="">
                        <img class="sign__card-element d-none d-xxl-block" src="~/assets/assets/img/element-4.png"
                             alt="image">
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SignIn END -->
