
@{
    ViewBag.Title = "add";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Settings</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Security</a></li>
                    <li class="breadcrumb-item active">Settings</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xxl-9">
        <div class="card ">
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab" aria-selected="false" tabindex="-1">
                            <i class="fas fa-home"></i>  Paypal
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab" aria-selected="false" tabindex="-1">
                            <i class="far fa-user"></i> Email
                        </a>
                    </li>

                </ul>
            </div>
            <div class="card-body p-4">
                <div class="tab-content">
                    <div class="tab-pane active" id="personalDetails" role="tabpanel">
                        <form action="javascript:void(0);">
                            <div class="row">
                              
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="firstnameInput" class="form-label">Client ID</label>
                                        <input type="text" class="form-control" id="firstnameInput" placeholder="Enter your client ID" value="">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="lastnameInput" class="form-label">Secret Key</label>
                                        <input type="text" class="form-control" id="lastnameInput" placeholder="Enter your secret key" value="">
                                    </div>
                                </div>

                                <!--end col-->
                                <!--end col-->
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="choices-status-input" class="form-label">Account Type</label>
                                        <select class="form-select" data-choices data-choices-search-false id="choices-status-input">
                                            <option value="Inprogress" selected>Sandbox</option>
                                            <option value="Completed">Live</option>
                                        </select>
                                    </div>
                                </div>
                           
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-soft-info" onclick="goBack()">Cancel</button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                    <!--end tab-pane-->
                    <div class="tab-pane" id="changePassword" role="tabpanel">
                        <form action="javascript:void(0);">
                            <div class="row g-2">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-6 mb-2">
                                            <div>
                                                <label for="oldpasswordInput" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="oldpasswordInput" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6 mb-2">
                                            <div>
                                                <label for="newpasswordInput" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="newpasswordInput" placeholder="Enter Email">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6 mb-2">
                                            <div>
                                                <label for="confirmpasswordInput" class="form-label">Port</label>
                                                <input type="text" class="form-control" id="confirmpasswordInput" placeholder="Port">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div>
                                                <label for="confirmpasswordInput" class="form-label">Smtp</label>
                                                <input type="text" class="form-control" id="confirmpasswordInput" placeholder="smtp">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div>
                                                <label for="confirmpasswordInput" class="form-label">Enable ssl</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="formCheck2" checked="">
                                                    <label class="form-check-label" for="formCheck2">
                                                        Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                </div>
                               
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-info">Save </button>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>

                    </div>
                    <!--end tab-pane-->

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/admin/js/jquery-3.2.1.min.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
    $(document).ready(function () {

        $(".ul li a").removeClass("active");
        $('#settings').addClass('active');


    });
</script>